<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% if state %}
        session情報は保存されています
    {% else  %}    
        session情報は破棄されました
    {% endif %}
    <br>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    
    これは新しいページです。
    <br>
    ログインはanonymousと入力
    <form action="{{url_for('login')}}" method="POST">
        <input name="name">
        <input type="submit" value="送信">
    </form>
</body>
</html>